* {
    font-family: 'Roboto',
        sans-serif;
}

.bg-body{
    background-color: #100E0E;
}

.bg-login{
    background: #2D251A;
    border-radius: 30px;
}

.bg-button{
    background: linear-gradient(94.99deg, #FDD013 24.68%, #FFFFFF 131.9%);
    border-radius: 20px;
}

.login-input{
    border: 0.5px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
}